{% include 'navigation.html' %} 
{% include "basic.html" %} 
{% load static %}
{%block body %}

<main>
  <section id="hero">
    <div class="container">
      <h1 class="center">Bienvenido al Centro de Convergencia San Carlos </h1>
      <p class="center">Encuentra información sobre salud y bienestar</p>
    </div>
    <a name="" id="" class="btn btn-primary" href="#" role="button">Análisis Inteligente</a>    

  </section>
  <section id="about">
    <div class="container">
        <h2 class="center">Mision</h2>
        <div><p>“Brindar a toda la comunidad la atención médica basada en el  acompañamiento  al paciente y su familia. Colaborar con la Educación del paciente, su familia y la sociedad, brindando cuidado y promoción de actitudes saludables. El Centro de Convergencia de Salud de Amatitlán es una institución pública que presta servicios de salud, basando su acción  y el mejoramiento continuo de la calidad de atención en términos de equidad, eficiencia y eficacia” (Centro de Convergencia Amatitlán San Carlos Mision y Vision 1998).</p></div>
        
        <div><h2 class="center">Vision</h2>
        <p>“Ser una Institución líder en salud, prestar servicios de salud con un modelo de atención al usuario con calidad y calidez, altamente calificado, aplicando el desarrollo tecnológico, que responda al crecimiento y necesidades de la población.”.  (Centro de Convergencia Amatitlán San Carlos Mision y Vision 1998).</p></div>
    </div>
</section>
</main>


  <!--footer-->
  <div class="footer1">
    <div class="container">
      <div class="row">
      <div class="col s12 center">
      <h4>Contacto</h4>
      <div class="pt-3">Email: centrodeconvergencia@gmail.com</div>
      <div>Contact no.55254247</div>
      <div>Address: San Carlos,Amatitlan</div>
      <div class="footer-copyright text-center">
        © 2023 Copyright:
        <a id="btnfooter" href="#">Disease_prediction.com</a>
      </div>
      <div class="m-3">
        <a href="https://www.facebook/com"
          ><i class="i fa fa-facebook-official fa-lg" aria-hidden="true"></i></a
        >&nbsp;
        <a href="https://www.youtube/com"
          ><i class="i fa fa-youtube-play fa-lg" aria-hidden="true"></i></a
        >&nbsp;
        <a href="https://www.instagram/com"
          ><i class="i fa fa-instagram fa-lg" aria-hidden="true"></i
        ></a>
      </div>
  </div>

  {% endblock %}
</main>
