
/* .img {
    position: relative;
    float: left;
    width:  200px;
    height: 200px;
    background-position: 100% 100%;
    background-repeat:   no-repeat;
    background-size:     cover;
} */

/* body {
    margin: 0;
    padding: 0;
    background-color: rgb(227, 227, 236);
} */

/* #navbar {
    padding: 0 50px 0 10rem;
}

#btnNavbar {
    animation: none;
    text-decoration: none;
    color: aliceblue;
}

.footer1 {
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: rgb(10, 138, 201);
    color: white;
    text-align: center;
    align-items: center;
    align-content: center;
  }
  
.i{
    color: white;
  } */

/* Styles Modules Signin */
  /* .container-singin {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
  }

  .card {
    padding: 20px;
  }

  .card-action {
    margin-top: 20px;
  }

  .card-action input[type="submit"] {
    margin-top: 10px;
  }

  .card-action a {
    margin-top: 10px;
    display: block;
  }

  .container-signup {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
  } */




